body{
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 15px;
       }
h1{
    font-family: 'Libre Baskerville', serif;
    font-size: 35px;
    } 
p{
  font-family: 'Lusitana', serif;
  font-size: 18px;
 }      
.container{
display:block;
padding: 0.4em;
margin-left: 5em;
margin-right: 4em;
margin-top: 1em;
margin-bottom: 4em; 
text-align: left;
overflow:auto;
}
.info
{
font-size: 14px;
color:#7F8778;
 font-weight:bold;
}
#image_funnel{
  float:right;
 margin-left:2em;
}
.password 
{
 text-align:center;   
 font-size:3rem;
  margin-bottom:25px;
  color:#0000ff;
  font-family:consolas,courier;
   background-color:#eee;
  display:inline-block;
   padding:15px;
   font-weight:bold;
  }
.password_error
{
text-align:center;   
 font-size:3rem;
 margin-bottom:25px;
 color:#FF0000;
 font-family:consolas,courier;
  background-color:#eee;
  display:inline-block;
  padding:15px;
 font-weight:bold;
}
.errorMessage{
color:red;
font-style: oblique;
} 

